@import url("https://use.typekit.net/ujt8yqv.css");

@font-face {
    font-family: "Bebas";
    src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Hurricane";
    src: url("../assets/fonts/Hurricane-Regular.ttf") format("truetype");
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fullscreen-wrapper {
    height: 100vh;
}

.header {
    position: relative;
}

.header > section {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header > video {
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header > section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#000,#000);
    opacity: .6;
    z-index: -1;
}

.header > section h1 {
    font-size: 120px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Bebas';
    overflow: hidden;
}

.header > section h1 span{
    display: inline-block;
    opacity: 0;
}

.header > section h1 span:last-of-type {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.header > section h3 {
    font-size: 58px;
    text-transform: capitalize;
    color: #fff;
    font-family: 'Bebas';
    opacity: 0;
    /*transform: translateY(500px);*/
}

.header > .scroll-down {
    position: absolute;
    width: 100%;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

.header > .scroll-down p {
    color: #fff;
    font-family: sans-serif;
}

.header > .scroll-down i {
    color: #fff;
    font-size: 30px;
}

#fullpage > * {
    height: 100vh;
}

.content-row {
    position: relative;
}

.content-row img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    object-position: left;
}

.content-row section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.content-row section h2 {
    font-size: 80px;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
}

.content-row section p {
    color: #fff;
    opacity: 0;
    font-size: 20px;
    line-height: 1.2;
}

.about-vince .soon {
    font-weight: bold;
    font-size: 25px;
    margin-top: 25px;
}

.content-row > .image-wrapper::after {
    background: rgb(17,16,34);
    background: linear-gradient(90deg, rgba(17,16,34,1) 0%, rgba(17,16,34,0.7) 51%, rgba(17,16,34,0.6) 72%, rgba(17,16,34,0.3) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content-row > .about-wrapper {
    display: flex;
    padding: 0 250px 0 150px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content-row > .about-wrapper i {
    color: #2871FC;
    font-size: 150px;
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0;
}

.content-row.reverse .about-wrapper{
    flex-direction: row-reverse;
    padding: 0 150px 0 250px;
    text-align: right;
}

.content-row.reverse > .image-wrapper::after {
    background:     linear-gradient(280deg, rgba(17,16,34,1) 0%, rgba(17,16,34,0.7) 51%, rgba(17,16,34,0.6) 72%, rgba(17,16,34,0.3) 100%);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal > .close {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    font-weight: bold;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal > .close:hover,
.modal > .close:focus {
    text-decoration: none;
    cursor: pointer;
}

.modal > iframe {
    margin: 0 auto;
    display: block;
}

.life-images {
    background: rgba(17,16,34,1);
    padding: 20px 0;
    /*overflow: hidden;*/
    height: auto!important;
}

.life-images > .image-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.life-images > .life-images-about {
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.life-images > .life-images-about h2 {
    font-size: 60px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    line-height: 50px;
    opacity: 0;
}

.life-images > .life-images-about p {
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0;
}

.life-images .image-card {
    width: fit-content;
    flex: 0 0 33.333333%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
    color: #000;
    text-decoration: none;
    transition: 0.2s transform linear;
    opacity: 0;
}

.life-images .image-card:nth-child(-n+4) {
    z-index: 20;
}


.life-images .image-card .image-card-content {
    transition: 0.2s transform linear;
    cursor: pointer;
}

.life-images .image-card .image-card-content:hover {
    transform: scale(1.3);
}

.life-images .image-card img{
    object-fit: cover;
    border: 20px solid #fff;
    border-bottom: 0;
    width: 200px;
    height: 200px;
}

.life-images .image-card .image-about {
    background: #fff;
    /*width: 100%;*/
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    width: 240px;
}

.life-images .image-card p{
    font-family: 'Hurricane';
    font-size: 28px;
}


.life-images > .image-card-wrapper > svg {
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    z-index: 0;
}

.life-images > .image-card-wrapper > svg {
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
}

.life-images .destiny {
    font-size: 22px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    margin: 40px auto 0;
    width: 60%;
}

.more-about {
    background: rgba(17,16,34,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.more-about h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
    opacity: 0;
}

.more-about img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 15px 0;
    opacity: 0;
}

.more-about p {
    width: 800px;
    color: #fff;
    text-align: center;
    opacity: 0;
}

.accommodations .about-wrapper a {
    font-size: 25px;
    color: #85A7A8;
    margin-top: 25px;
}

.contact {
    background: rgba(17,16,34,1);
    padding: 50px 200px 80px;
    height: auto!important;
    overflow: hidden;
}

.contact * {
    opacity: 0;
}

.contact h2 {
    font-size: 80px;
    color: #fff;
    margin-bottom: 80px;
}

.contact img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
}

.contact p {
    color: #fff;
    font-size: 25px;
    line-height: 1.2;
}

.contact .contact-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 80%;*/
    /*margin: 0 auto;*/
}

.contact .contact-information-wrapper {
    width: 60%;
}

.contact .social-media {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact .social-media i {
    font-size: 40px;
    color: #fff;
}

.contact .social-media i:not(:last-of-type) {
    margin-right: 20px;
}

.contact h4 {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
}